body {
    background-color: rgb(253, 253, 253);
    background-image: url(bgwhite.png);
    background-size: 100%;
    
    margin: 0;
   padding: 0;
   width: 100%;
 }
 
 :root {
    --cor--fundo: #141414;
    --cor--hover: #2e2d2d;
    --cor--primaria: #ffff;
 }
 
 .site-header {
    background-image: url(1920menu2.png);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 
 .site-header .logo {
    font-size: 2em;
    color: transparent;
    order: 2; /*altera a ordem, colocando o logo à direita*/
 }
 
 .site-header .menu {
    display: flex;
    order: 1; /*mantém o meu menu à esquerda */
 }
 
 .site-header a {
    color: var(--cor--primaria);
    text-decoration: none;
    padding: 8px;
    margin: 0 10px;
    transition: color 0.7s;
 }
 
 
 .menu ul {
   list-style-type: none;
   padding: 0;
}

.menu ul {
   background-color: transparent;
}

.menu ul li {
   display: inline-block; /* ou use float: left; */
   position: relative;
}

.menu ul li a {
   color: var(--cor--primaria);
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 3.5vh;
   text-decoration: none;
   display: inline-block;
   padding: 10px;
   transition: background 0.7s;
}

.menu ul li a:hover {
   background-color: var(--cor--hover);
   width: 200px;
}

.menu ul ul {
   display: none;
   left: 0;
   position: absolute;
   background-color: #202020;
   z-index: 3;
   font-size: 3vh;
}

.menu ul li:hover ul {
   display: block;
}

.menu ul ul li a {
   color: var(--cor--primaria);
}

.menu ul ul {
   width: 300px;
}

.menu ul ul li a {
   display: block;
}


 /*botton*/
.button{
   position: relative;
   width: 100px;
   height: 40px;
   left: 90%;
   margin-top: 1.5vh;
   border-radius: 25px;
   box-shadow: 0 0 2.5px 0 #39a2db59;
   cursor: pointer;
   background-color: #d3d3d3;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-align: center;
  font-size: smaller;
}
.ball{
   position: absolute;
   top: 0;
   left: 0;
   width: 40px;
   height: 100%;
   border-radius: 50%;
   background-color:#141414;
   transition: left 1s;
}



.ball-move {
   left: calc(100% - 40px);
}
.dark{
   background-image: url(bgblack.png);
   background-size: 100%;
}


.sobremim{
   
   text-align: center;
   background-color:transparent;
   width: 90%;
   height: 2000px;
}

h1{
   color:transparent;
}